<h1>Angular Directives</h1>
<p>
Angular directives are markers on a DOM elements that tell angular's HTML compiler to attach specific behaviour to a DOM element or to transform dom element and its children.
</p>

<p>Much like the components, we can create our own directives as well. There are three kinds of directives in Angular:

    Components—directives with a template.
    Structural directives—change the DOM layout by adding and removing DOM elements.(NgFor, Nglf)
    Attribute directives—change the appearance or behavior of an element, component, or another directive NgStyle
    
    Components are the most common of the three directives. You saw a component for the first time in the QuickStart guide.

Structural Directives change the structure of the view. Two examples are NgFor and NgIf. Learn about them in the Structural Directives guide.

Attribute directives are used as attributes of elements. The built-in NgStyle directive in the Template Syntax guide, for example, can change several element styles at the same time.
    > ng generate directive highlight
    Directives must be declared in Angular Modules in the same manner as components.
  </p>

  <h3>Exercise</h3>
    1. add a button - display details 
    2. add a paragraph with any content of choice e.g secret sauce
    3. toggle the display of paragraph by clicking the 
    4. log click events in an array and output the array
    5. after 5 entries the ouput should have blue color background
  
    <hr>

  <button class="btn btn-default" (click)=onPress()>Show</button>
   <p *ngIf="showContent; else noShow"> Secret sauce and its ingredients  </p>
   <ng-template #noShow>
     shhhhh...........
   </ng-template>

   <p [ngStyle] = "{'display': ShowContent()}">Secret sauce and its ingredients  </p>
   <div *ngFor="let event of EventsArray()"> 
    <p [ngStyle] = "{'background': getColor()}"></p>
   </div>
  

   <ng-template #loop>
     {{event}}
    </ng-template>