<h1>Angular Directives</h1>>
<p>
Angular directives are markers on a DOM elements that tell angular's HTML compiler to attach specific behaviour to a DOM element or to transform dom element and its children.
</p>

<p>Much like the components, we can create our own directives as well. There are three kinds of directives in Angular:

    Components—directives with a template.
    Structural directives—change the DOM layout by adding and removing DOM elements.(NgFor, Nglf)
    Attribute directives—change the appearance or behavior of an element, component, or another directive NgStyle
  
    > ng generate directive highlight
    Directives must be declared in Angular Modules in the same manner as components.
  </p>
